.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navegador {
	font-size: 20px;
	width: 60em;
	display: flex;
	align-items: center;
}

li a {
	font-size: 20px;
	text-decoration: none;
	padding: 20px;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
}

.carrito {
	width: 3em;
	display: flex;
	float: left;
}

.card {
	margin-left: 40px;
}

.añadir-carrito {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 2rem;
}

.container-carrito {
	width: 200px;
	display: flex;
	flex-direction: column;
}

.button-carrito {
	width: 100%;
}

.custom-btn {
	width: 100%;
}

img.card-body {
	width: 260px;
}

.card-body.nameCart {
	font-size: 20px;
	margin-top: 2%;
}

.card-body.qtyCart {
	font-size: 20px;
	margin-bottom: 2%;
}

.header-form {
	margin-left: 1%;
	margin-top: 2%;
}

.form-cart {
	margin: 1%;
}

.form-cart input {
	display: flex;
	margin: 2px;
}

.btn.btn-outline-primary.btn-block.borrarCart,
.btn.btn-outline-primary.btn-block.finalizarCart {
	display: flex;
	margin-top: 2%;
	margin-left: 1%;
}
